
<ion-view view-title="{{sensor.name}}">
  <ion-content class="padding">


<ion-list>

   <div class="card">
      <div class="item item-divider"> weather station
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#">
      <img src="../img/weather.png">
       <p align = "center"><h1 class ="title"><font color="green">24°C
       <i class="icon ion-thermometer"></i>
     </font></h1></p>
      
    </a>
 		<div class="item item-image" style="height:auto">
   	  		<img src="../img/plot.png" >
      		    <p align = "center"> Status : <b><font size="4" color="green"> OK </font></b></p>
      			<p align="center"> last update: 26.07.2015 - 12:22</p>   
    	</div>
  </div>



    <div class="item item-divider">
    		Alarms / notifications 
  	</div>

    <ion-toggle  ng-model="settings.enableAlarms">
        Enable Alarms
    </ion-toggle>

    <ion-toggle  ng-model="settings.enableEmail">
        Enable Email notifications
    </ion-toggle>

    <div class="item item-divider">
    		Alarms condition 
  	</div>

  <label class="item item-input item-select">
    <div class="input-label">
      If value is
    </div>
    <select>
      <option>smaller</option>
      <option selected>bigger</option>
    </select>
  </label>
  
  <label class="item item-input">
  	<div>Than :  </div>
    <input type="text" placeholder="  Value">
  </label>

  <label class="item item-input">
  	<div>Message :  </div>
    <input type="text" placeholder="  ALARM MESSAGE">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Color :
    </div>
    <select>
      <option>Red</option>
      <option selected> Orange</option>
      <option > Black</option>
    </select>
  </label>



</div>
  </div>


    <div class="item item-divider">
    	Button control 
  	</div>
    <ion-toggle  ng-model="settings.enableButton">
        Enable Button
    </ion-toggle>
	<label class="item item-input item-stacked-label">
    <span class="input-label"> Status message if pressed</span>
    <input type="text" placeholder="Button pressed">

  	</label>
    </ion-list>

<button class="button button-block button-positive">
  Save
</button>

  </ion-content>
</ion-view>  