<ion-view view-title="How to add a new sensor!" >
  <ion-content class="padding">
 

      <div class="card">
        
        <div class="item item-text-wrap"> 
          <div class="item item-thumbnail-left">
            <img src="../img/plugin.png"> 
            <p align = "center"><h3 class ="title">
              Step 1 : Power the sensor
            </h3></p>
          
              Power the sensor by connecting any micro-USB ( e.g. a phone charger)
              <a class="thumbnail" href="#/tab/chats/help"><button class="button button-block button-positive" >
                Help me!
              </button></a>
          </div>
        </div>

        <div class="item item-text-wrap"> 
          <div class="item item-thumbnail-left">
            <img src="../img/wifi.png"> 
            <p align = "center"><h3 class ="title">
              Step 2 : Setup Sensor Wifi 
            </h3></p>
          
              Get your local Wifi password and tell it your sensor :
              <button class="button button-block button-positive" href="#/chat/wifisetup.html">
                Wifi Setup
              </button>
          </div>
        </div>
         
        <div class="item item-text-wrap"> 
          <div class="item item-thumbnail-left">
            <img src="../img/scanqr.jpg"> 
            <p align = "center"><h3 class ="title">
              Step 3 : Pairing 
            </h3></p>
          
              Pair your phone and sensor by scanning the QR code of the sensors back 
              <button class="button button-block button-positive" href="#/chat/wifisetup.html">
                Pairing Setup
              </button>
          </div>
        </div>
     </div>
 </ion-content>
</ion-view>
