<html ng-app="app">

<head> 



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
<link rel="stylesheet" href="bower_components/angular-ui-switch/angular-ui-switch.min.css"/>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<!-- angular plot 
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>-->

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js">
</script>
<script src="bower_components/angular-ui-switch/angular-ui-switch.min.js"></script>
<script type="text/javascript" src="./js/app.js"></script>



</head>

<body ng-controller="myCtrl">
<div class=container-fluid >

	<h1 class ="text-center bg-primary text-primary"> <img class="img-rounded img-thumbnail" src="http://rysta.io/wp-content/uploads/2015/09/Logo-300-dpi-35px-hoch.png" width="150" height="130"> - app simulator </h2>
        <div class="text-center img-responsive ">
            <img class="img img-rounded img-thumbnail" src="http://cdn.flaticon.com/svg/44/44520.svg" width="150" height="130">
       </div>

    <br>

          <h5 class="text-center">(c)Sven Eliasson  -  Sven.Eliasson@rysta.io </h5>



    <h3 class ="text-center bg-primary text-primary"> pairing </h3>

    <div class="row text-center">
      <button class="btn btn-primary" ng-click="pairingRequest()" > 
        Request Pairing <input class="form-control" ng-model="devID">
      </button>
    </div>
<br>
    <div class="row text-center">
      <button class="btn" ng-click="pairingCheck()" > 
        Get pairing status <input class="form-control" ng-model="pairing_status">
      </button>
    </div>




    <h3 class ="text-center bg-primary text-primary"> event configuration </h3>
    <div class="row">

        <div class= "text-center">
            <button class="btn- btn-primary" ng-click="getEventAction()">GET event actions</button>
            <button class="btn- btn-primary" ng-click="postEventAction()">POST event actions</button>
        </div>
    </div>
        






<hr>
<div class="text-­warning"><h4 style="backgroundcolor=green">escalation level 1 : Logfile  -      Enable?: 
    <switch id="enabled" name="enabled" ng-model="eventaction.l1.status" class="green"></switch> {{eventaction.l1.status}}
</h4></div>
     
    <div class="row"> 
        <div class="col-xs-3" >Action: <input class="form-control" ng-model="eventaction.l1.action"></div>
    
    
        <div class="col-xs-6" >Message: <input class="form-control" ng-model="eventaction.l1.actiondata.text"></div>
   </div>
    <div class="row"> 
        <div class="col-xs-3" >Condition: <input class="form-control" ng-model="context.eventObj[1].C1"></div>
    
    
        <div class="col-xs-6" > Threshold: <input class="form-control" ng-model="context.eventObj[1].V1"></div>
   </div>

<hr>

<h4>escalation level 2 : Notification  -      Enable?: 
    <switch id="enabled" name="enabled" ng-model="eventaction.l2.status" class="green"></switch> {{eventaction.l2.status}}
</h4>
     
     <div class="row"> 
        <div class="col-xs-3" >Action: <input class="form-control" ng-model="eventaction.l2.action"></div>
    
    
        <div class="col-xs-6" >Message: <input class="form-control" ng-model="eventaction.l2.actiondata.text"></div>
   </div>
     <div class="row"> 
        <div class="col-xs-6" >Email: <input class="form-control" ng-model="eventaction.l2.actiondata.email"></div>
   </div>

    <div class="row"> 
        <div class="col-xs-3" >Condition: <input class="form-control" ng-model="context.eventObj[1].C2"></div>
    
    
        <div class="col-xs-6" > Threshold: <input class="form-control" ng-model="context.eventObj[1].V2"></div>
   </div>


<h4>escalation level 3 : Warning  -      Enable?: 
    <switch id="enabled" name="enabled" ng-model="eventaction.l3.status" class="green"></switch> {{eventaction.l3.status}}
</h4>
     
     <div class="row"> 
        <div class="col-xs-3" >Action: <input class="form-control" ng-model="eventaction.l3.action"></div>
        <div class="col-xs-6" >Message: <input class="form-control" ng-model="eventaction.l3.actiondata.text"></div>
   </div>
     <div class="row"> 
        <div class="col-xs-6" >Phone: <input class="form-control" ng-model="eventaction.l3.actiondata.number"></div>
   </div>
    <div class="row"> 
        <div class="col-xs-3" >Condition: <input class="form-control" ng-model="context.eventObj[1].C3"></div>
    
    
        <div class="col-xs-6" > Threshold: <input class="form-control" ng-model="context.eventObj[1].V3"></div>
   </div>

<h4>escalation level 4 : Alarm  -      Enable?: 
    <switch id="enabled" name="enabled" ng-model="eventaction.l4.status" class="green"></switch> {{eventaction.l4.status}}
</h4>

     <div class="row"> 
        <div class="col-xs-3" >Action: <input class="form-control" ng-model="eventaction.l4.action"></div>
        <div class="col-xs-6" >Message: <input class="form-control" ng-model="eventaction.l4.actiondata.text"></div>
   </div>
     <div class="row"> 
        <div class="col-xs-6" >Phone: <input class="form-control" ng-model="eventaction.l4.actiondata.number"></div>
   </div>
    <div class="row"> 
        <div class="col-xs-3" >Condition: <input class="form-control" ng-model="context.eventObj[1].C4"></div>
    
    
        <div class="col-xs-6" > Threshold: <input class="form-control" ng-model="context.eventObj[1].V4"></div>
   </div>

    <br>



      <div class="row">
        <div class="col-xs-12 text-center"> 
            Server URL  :
            <input class="form-control" ng-model="URL">
        </div>
        <br>
        <div class="col-xs-12 text-center"> 
            devID :
            <input class="form-control" ng-model="devID">
        </div>
    </div>
    <br>



      <div class= "text-center">
          <button class="btn- btn-primary" ng-click="start()"> START data stream!</button>
          <button class="btn- btn-primary" ng-click="stop()"> STOP data stream!</button>
     </div>
     <br>

    <br>
    <div class="text-center">Status: {{status}}</div>
    <div class="text-center">Event: {{eventStatus}}</div>
    <br>



     {{test}}

     <br><br>

     NumCalls: {{numCalls}}
</div>
</body>

</html>