<html ng-app="app">

<head> 

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/qrcode/lib/qrcode.min.js"></script>
<script type="text/javascript" src="bower_components/angular-qr/angular-qr.min.js"></script>


<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
8
<script type="text/javascript" src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>

</head>

<body ng-controller="myCtrl">	
	<div class=container-fluid >
		<h1 class ="text-center"> <img class="img-rounded img-thumbnail" src="/src/Logo-300-dpi-35px-hoch.png" width="150" height="130">  -simulator</h1>
		<h5 class="text-center">(c) Sven Eliasson </h5>
		
		<div class="text-center img-responsive ">
			
			<qr type-number="4" correction-level="'M'" size="140" input-mode="'8bit'" text="devID" image="true"></qr>		
		</div>
		<br>
		
		<div class="row text-center">
			<button class="btn btn-info" ng-click="start()"> Start </button>
			<button class="btn btn-danger" ng-click="stop()"> Stop </button>
			<h4> Runnning?? : {{simulationRunning}} </h4>
			<h4> Status?? : {{backendstatus}} </h4>
			<h4> News?? : {{news}} </h4>
		</div>
<hr>
		  <h4 class ="text-center bg-primary text-primary"> Server connection data  </h4>


		<div class="row">
			<div class="col-xs-12 text-center"> 
				Server URL  :
				<input class="form-control" ng-model="URL">
			</div>
			<br>
			<div class="col-xs-12 text-center"> 
			   Dev ID :
			   <input class="form-control" ng-model="devID">
			</div>
			<div class="col-xs-12 text-center"> 
			   secretAPI :
			   <input class="form-control" ng-model="secretAPI">
			</div>
		</div>
		
		<br>
<hr>
		 <h4 class ="text-center bg-primary text-primary">Simulated sensor data 1:
			<button class="btn- btn-primary" ng-click="startOver()"> 
				save
			</button>
		</h4>          
		
		<div class="row">   
			<div class="col-xs-6 text-center"> 
				variable name:
				<input class="form-control " ng-model="varName1">
			</div>
			<div class="col-xs-6 text-center"> 
				samples per minute :
				<input class="form-control " ng-model="sampleRate1">
			</div>


			<div class="col-xs-6 text-center"> 
				datavalue :
				<input class="form-control" ng-model="dataValue1">
			</div>
		
			<div class="col-xs-6 text-center"> 
				noise level :
				<input class="form-control" ng-model="noiseLevel1">
			</div>
		</div>   
		<br>

		 <h4 class ="text-center bg-primary text-primary">Simulated sensor data 2:
			<button class="btn- btn-primary" ng-click="startOver()"> 
				save
			</button>
		</h4>

		<div class="row">   
			<div class="col-xs-6 text-center"> 
				variable name:
				<input class="form-control " ng-model="varName2">
			</div>

			<div class="col-xs-6 text-center"> 
				samples per minute :
				<input class="form-control " ng-model="sampleRate2">
			</div>

			<div class="col-xs-6 text-center"> 
				datavalue :
				<input class="form-control" ng-model="dataValue2">
			</div>

			<div class="col-xs-6 text-center"> 
				noise level :
				<input class="form-control" ng-model="noiseLevel2">
			</div>
		</div>   
		
		<br>
<hr>
		 <h4 class ="text-center bg-primary text-primary"> Commands: </h4>  

		<div class="row text-center">
			<button class="btn btn-primary" ng-click="register()"> 
				Register  
			</button>
			<button class="btn btn-danger" ng-click="delete()"> 
				Delete  
			</button>
		</div>
		<br>
		<div class="row text-center">

			<button class="btn btn-danger" ng-click="pairingModeReset()"> 
				Reset Pairing
			</button>
		</div>
		<br>
		<div class="row text-center">
			<button class="btn btn-primary" ng-click="ackPairing()"> 
				Acknowledge Pairing 
			</button>
			<button class="btn btn-primary" ng-click="pairingCheck()"> 
				Get Pariring Status 
			</button>
		</div>

		<div class="row text-center">
			<h3> Pairing Status: {{pairingStatus}} </h3>
		</div>


		
		<h5> command response: </h5>
		<div class ="row">
			<div class="col-xs-10">
				<textarea class="form-control col-xs-4" ng-model="cmdResponse"></textarea>
			</div>
			<div class="">
				<button class="btn btn-primary" ng-click="clearResponse()"> clear </button>
			</div>
		</div>
		<br>
		<hr>
		 <h4 class ="text-center bg-primary text-primary"> Context handling: </h4> 

		<div class="row text-center">
			<button class="btn btn-primary" ng-click="getContext()"> 
				Get context 
			</button>
			<button class="btn btn-primary" ng-click="postContext()"> 
				Push context 
			</button>

		</div>
			<h5>context status: {{contextStatus}}<h5>
		<br>

		<h5> Button Event </h5>
		
		<div class ="row">			
			<div class="col-xs-8">
				<input class="form-control col-xs-8" ng-model="button_eventString">
			</div>
			<div class="">
				<button class="btn btn-primary" ng-click="sendEvent()"> Push button! </button>
			</div>
		</div>

<br>
		<h5> Events for data 1: </h5> 

		<div class ="row">
			<div class="col-xs-2">Lvl1 status:
				<input class="form-control col-xs-3" ng-model="context.eventObj.1.S1">
			</div>
			<div class="col-xs-2">
				Trigger:
				<input class="form-control col-xs-3" ng-model="context.eventObj.1.V1">
			</div>

			<div class="">
				<button class="btn btn-primary" ng-click="sendEvent(1)"> Send Event lvl1! </button>
			</div>
		</div>
			<br>
		
		<div class ="row">
			<div class="col-xs-2">Lvl2  status: 
				<input class="form-control col-xs-3" ng-model="context.eventObj.1.S2">
			</div>
			<div class="col-xs-2">
				Trigger:
				<input class="form-control col-xs-3" ng-model="context.eventObj.1.V2">
			</div>

			<div class="">
				<button class="btn btn-primary" ng-click="sendEvent(2)"> Send Event lvl2! </button>
			</div>
		</div>
		<br>

		<div class ="row">
			<div class="col-xs-1">Lvl3 status: 
				<input class="form-control col-xs-3" ng-model="context.eventObj.1.S3">	
			</div>
			<div class="col-xs-2">
				Trigger:
				<input class="form-control col-xs-3" ng-model="context.eventObj.1.V3">
			</div>

			<div class="">
				<button class="btn btn-primary" ng-click="sendEvent(3)"> Send Event lvl3! </button>
			</div>
		</div>

		<div class ="row">
			<div class="col-xs-1">Lvl4 status: 
				<input class="form-control col-xs-3" ng-model="context.eventObj.1.S4">	
			</div>
			<div class="col-xs-2">
				Trigger:
				<input class="form-control col-xs-3" ng-model="context.eventObj.1.V4">
			</div>

			<div class="">
				<button class="btn btn-primary" ng-click="sendEvent(4)"> Send Event lvl4! </button>
			</div>
		</div>

		<div class ="row">
			<div class="col-xs-1">Lvl5 status: 
				<input class="form-control col-xs-3" ng-model="context.eventObj.1.S4">	
			</div>
			<div class="col-xs-2">
				Trigger:
				<input class="form-control col-xs-3" ng-model="context.eventObj.1.V4">
			</div>

			<div class="">
				<button class="btn btn-primary" ng-click="sendEvent(5)"> Send Event lvl5! </button>
			</div>
		</div>
<br>

		<h5> Events for data 2: </h5> 

		<div class ="row">
			<div class="col-xs-1">Lvl1 status:
				<input class="form-control col-xs-3" ng-model="context.eventObj.2.S1">
			</div>
			<div class="col-xs-2">
				Trigger:
				<input class="form-control col-xs-3" ng-model="context.eventObj.2.V1">
			</div>
			<div class="">
				<button class="btn btn-primary" ng-click="sendEvent(1)"> Send Event! </button>
			</div>
		</div>
			<br>
		
		<div class ="row">
			<div class="col-xs-1">Lvl2  status: 
				<input class="form-control col-xs-3" ng-model="context.eventObj.2.S2">
			</div>
			<div class="col-xs-2">
				Trigger:
				<input class="form-control col-xs-3" ng-model="context.eventObj.2.V2">
			</div>

			<div class="">
				<button class="btn btn-primary" ng-click="sendEvent(2)"> Send Event! </button>
			</div>
		</div>
		<br>

		<div class ="row">
			<div class="col-xs-1">Lvl3 status: 
				<input class="form-control col-xs-3" ng-model="context.eventObj.2.S3">	
			</div>
			<div class="col-xs-2">
				Trigger:
				<input class="form-control col-xs-3" ng-model="context.eventObj.2.V3">
			</div>

			<div class="">
				<button class="btn btn-primary" ng-click="sendEvent(3)"> Send Event! </button>
			</div>
		</div>

		<div class ="row">
			<div class="col-xs-1">Lvl4 status: 
				<input class="form-control col-xs-3" ng-model="context.eventObj.2.S4">	
			</div>
			<div class="col-xs-2">
				Trigger:
				<input class="form-control col-xs-3" ng-model="context.eventObj.2.V4">
			</div>

			<div class="">
				<button class="btn btn-primary" ng-click="sendEvent(4)"> Send Event! </button>
			</div>
		</div>


<hr>

		<br> <br><br>

		<div class="text-center">{{status}}</div>
		<br>
		<br><br>
		NumCalls: {{numCalls}}
	</div>
</body>

</html>