
<ion-view view-title="{{sensor.name}}">
	<ion-content class="padding">


<div class="ion-list">

	<div class="card">
		<div class="item item-divider"> {{sensor.name}}  

		</div>
		<a class="item item-thumbnail-left" href="#">
			<img src="/img/rysta.png">
			<p align = "center">
				<h1 class ="title">
					<font color="green">
						{{sensor.value}}  {{sensor.unit}} 
				 		<i class="icon ion-thermometer"></i>
			 		</font>
			 	</h1>
			 </p>
		</a>
		<div class="item item-image" style="height:auto">
			<nvd3 options="options" data="data" class="with-3d-shadow with-transitions">
			</nvd3>
			   <br> <button ng-click="getdata({{sensor.devID}})">get data</button>
			    <button ng-click="update()"> update data</button>
			<p align = "center"> Status : 
				<b><font size="4" color="green"> 
					OK 
				</font></b></p>
			<p align="center"> {{sensor.lastUpdate}}</p>   
		</div>
	</div>

	<div class="item item-divider">
		RYSTA Sensor Setting
	</div>
	<label class="item item-input">
		<div>Name: </div>
		<input type="text" placeholder="RYSTA-IS-GREAT" ng-model="sensor.name">
	</label>
	
		<ion-toggle  ng-model="settings.enableButton">
				Enable Events
		</ion-toggle>

	<label class="item item-input item-select">

		<div class="input-label">
			If value is
		<select>
			<option>smaller</option>
			<option selected>bigger</option>
		</select>
		</div>
	</label>

	<div class="item range range-positive">
    	<button class="button button-clear button-positive">
  			Than: {{value}}
		</button>
    	<input type="range" min="-20" max="40" ng-model="value">
	</div>

	<label class="item item-input item-select">
		<div class="input-label">
			Do:
		</div>
		<select>
			<option>Logfile</option>
			<option>Notification</option>
			<option>Email</option>
			<option>SMS</option>
			<option selected>IFTTT</option>
			<option>Call</option>
		</select>
	</label>
	<label class="item item-input" ng-click"">
    	<button class="button button-clear button-positive">
  			Setup "DO"
		</button>	</label>
	<label class="item item-input">
		<div>Message :  </div>
		<input type="text" placeholder="  ALARM MESSAGE">
	</label>
	<div class="item range range-positive">
  			After event silent for: 
		
    	<input type="number" ng-model="timeout" pattern="\d*"> minutes
	</div>
</div>
	
	<div class="item item-divider">
			RYSTA Button Setting
		</div>
			<label class="item item-input">
		<div>Message :  </div>
		<input type="text" placeholder="  ALARM MESSAGE">
	</label>
		<ion-toggle  ng-model="settings.enableButton">
				Enable Button
		</ion-toggle>
	<label class="item item-input item-stacked-label">
		<span class="input-label"> Message</span>
		<input type="text" placeholder="Button pressed">

		</label>
			<label class="item item-input item-select">
		<div class="input-label">
			Do:
		</div>
		<select>
			<option>Logfile</option>
			<option>Notification</option>
			<option>Email</option>
			<option>SMS</option>
			<option selected>IFTTT</option>
			<option>Call</option>
		</select>
	</label>
		</ion-list>

<button class="button button-block button-positive">
	Save
</button>

	</ion-content>
</ion-view>  