<ion-view view-title="Help me!" >
  <ion-content class="padding">
 

      <div class="card">
        
        <div class="item item-text-wrap"> 
          
        <p align = "center"><h2 class ="title">
              Witch power plug can I use?
            </h2></p>
            Answer: You can use any micro-USB power plug. Most of the smartphones are using a micro-USB connectors, so you can connect any of those. They may look like this: 
            </div>
        

        <div class="item item-text-wrap"> 
          
            <p align = "center"><h2 class ="title">
             Do I need to buy it from a specific manufacture?
            </h2></p>
          
              Answer: No! You can take any micro-USB power supply. Micro-USB has fixed standards ALL manufactures have to forfill. Some Charger have higher current ratings - but you wont need that.
          </div>

          <div class="item item-text-wrap"> 
          
            <p align = "center"><h2 class ="title">
             How to plug it in?
            </h2></p>
          
              Answer: Connect the power plug to any power connector close to you. Take the microUSB plug and put it gently into the microUSB Connector of the sensor. If no sucsess - turn it around and try again. Still no luck? Find a Engineer! Good luck!
          </div>
        </div>



        </div>
     </div>
 </ion-content>
</ion-view>
