<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
    <div class="item item-divider">
    		Alarms / notifications 
  	</div>

    <ion-toggle  ng-model="settings.enableNoti">
        Enable push notifications
    </ion-toggle>

    <label class="item item-input item-stacked-label">
    <span class="input-label"> Email</span>
    <input type="text" placeholder="SvenEliasson@gmx.de">
  	</label>

    <label class="item item-input item-stacked-label">
    <span class="input-label"> Phone number</span>
    <input type="text" placeholder="017630638775">
    </label>


    </ion-list>
  </ion-content>
</ion-view>
