<ion-view view-title="CertoFridge Monitor" >
  
  <ion-content class="padding">
 <div class="text-center"><img class="img-circle img-rounded img-thumbnail" align="center" src="http://t3.gstatic.com/images?q=tbn:ANd9GcRiIs5L5M-vQlUDYZNQ85Mxc-lDhhd8LTbQo9yn6ivSazIDnaqxY_cTs6UP" width="300" height="70"></div>



               <button class="button button-block button-dark" ng-click="registerWithPushService()">
                Register for Push Service
              </button>
              <button class="button button-block button-dark" ng-click="scanBarcode()">
                Add Sensor!
              </button>

<div class="list">
  <div ng-repeat="sensor in sensors">
    <div class="card">
      <div class="item item-divider"> {{sensor.name}} 
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#/tab/dash/{{sensor.devID}}">
      <img src="http://www.eydam.de/productimages200300/299/8510459.jpg">
       <p align = "center"><h2 class ="title"><font color="green">
        {{sensor.value}} {{sensor.unit}}   <i class="icon ion-thermometer"></i>
      </font></h2></p>
       
      <p align = "center"> Status : <b><font size="4"> 
      <span ng-class="{'color-red': sensor.status == 'OK', 'color-blue': sensor.status != 'OK', 'color-green': {{sensor.status}} == 'OK'}">
           {{sensor.status}} 
         </span>
      </font></b></p> 
      <p align="center"> last update: {{sensor.lastUpdate}}</p>
      
    </a>


  </div>
</div>

    
<!--
      <div ng-if = "sensor.hasOwnProperty('value2')">
        <a class="item item-thumbnail-left" href="#/tab/dash/1">
        <img src="img/weather.png">
       <p align = "center"><h2 class ="title"><font color="green">
        {{sensor.value2}} {{sensor.unit2}}  <i class="icon ion-speedometer"></i>
      </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="green"> OK </font></b></p>
      <p align="center"> last update: {{  sensor.lastUpdate}} </p>
      </a>
    </div>
  </div>

</div>

   <div class="card">
      <div class="item item-divider"> bed room
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/bedroom.png">
       <p align = "center"><h2 class ="title"><font color="orange">34°C
       <i class="icon ion-thermometer"></i>
     </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="orange"> OK </font></b></p>
      <p align="center"> last update: 26.07.2015 - 12:22</p>
      
    </a>
  </div>

  <div class="card">
      <div class="item item-divider"> my plant
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/plant.png">
       <p align = "center"><h2 class ="title"><font color="red">1/10 Dry
       <i class="icon ion-leaf"></i>
     </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="red"> Warning </font></b></p>
      <p align="center"> last update: 26.07.2015 - 12:22</p>
      
    </a>
  </div>
    
    <div class="card">
      <div class="item item-divider"> bath room
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/bathroom.png">
       <p align = "center"><h2 class ="title"><font color="green">23.2°C 
       <i class="icon ion-thermometer"></i>
     </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="green"> OK </font></b></p>
      <p align="center"> last update: 26.07.2015 - 12:22</p>
      
    </a>

      <a class="item item-thumbnail-left" href="#">
      <img src="img/bathroom.png">
       <p align = "center"><h2 class ="title"><font color="orange">80% RH
       <i class="icon ion-waterdrop"></i>
     </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="orange"> Ok </font></b></p>
      <p align="center"> last update: 26.07.2015 - 12:22</p>
      
    </a>
  </div>


 <div class="card">
      <div class="item item-divider"> husband work
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/button.jpg">
       <p align = "center"><h2 class ="title"><font color="orange"> 5 min ago
       <i class="icon ion-android-hand"></i>
     </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="orange"> "left work" </font></b></p>
      <p align="center"> last update: 26.07.2015 - 18:22</p>
      
    </a>
  </div>




    <div class="card">
      <div class="item item-divider"> oven monitor
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/oven.png">
       <p align = "center"><h2 class ="title"><font color="green">
        26.4°C  <i class="icon ion-thermometer"></i>
      </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="green"> OK </font></b></p>
      <p align="center"> last update: 26.07.2015 - 12:22</p>
      
    </a>
  </div>

  <div class="list">

    <div class="card">
      <div class="item item-divider"> living room
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/livingroom.png">
       <p align = "center"><h2 class ="title"><font color="green">
        26.4°C  <i class="icon ion-thermometer"></i>
      </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="red"> OFFLINE </font></b></p>
      <p align="center"> last update: 26.07.2015 - 12:22</p>
      
    </a>
  </div>


<div class="list">

    <div class="card">
      <div class="item item-divider"> basement
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/basement.png">
       <p align = "center"><h2 class ="title"><font color="black">
        3 LUX  <i class="icon ion-ios-moon"></i>
      </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="black"> OK </font></b></p>
      <p align="center"> last update: 26.07.2015 - 12:22</p>
      
    </a>
  </div>


      <div class="card">
      <div class="item item-divider"> Fridge
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/fridge.png">
       <p align = "center"><h2 class ="title"><font color="orange">13°C
       <i class="icon ion-thermometer"></i>
     </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="orange"> Care </font></b></p>
      <p align="center"> last update: 26.07.2015 - 12:22</p>
      
    </a>
       <a class="item item-thumbnail-left" href="#">
      <img src="img/fridge.png">
       <p align = "center"><h2 class ="title"><font color="green">10%RH
       <i class="icon ion-waterdrop"></i>
     </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="green"> "milk missing" </font></b></p>
      <p align="center"> last update: 19.07.2015 - 18:22</p>
      
    </a>
       <a class="item item-thumbnail-left" href="#">
      <img src="img/button.jpg">
       <p align = "center"><h2 class ="title"><font color="green">1 week ago
       <i class="icon ion-android-hand"></i>
     </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="green"> "milk missing" </font></b></p>
      <p align="center"> last update: 19.07.2015 - 18:22</p>
      
    </a>

  </div>

<div class="list">

    <div class="card">
      <div class="item item-divider"> washing machine
      <a href="#" class="item-icon-right">
            <i class="icon ion-android-options balanced"></i>
        </a> 
      </div>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/washing.jpg">
       <p align = "center"><h2 class ="title"><font color="green">
        0%  <i class="icon ion-volume-mute"></i>
      </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="green"> OK </font></b></p>
      <p align="center"> last update: 26.07.2015 - 12:22</p>
      
    </a>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/button.jpg">
       <p align = "center"><h2 class ="title"><font color="green">
        2 days ago <i class="icon ion-android-hand"></i>
      </font></h2></p>
      <p align = "center"> Status : <b><font size="4" color="green"> "buy powder" </font></b></p>
      <p align="center"> last update: 26.07.2015 - 12:22</p>
      
    </a>
  </div>



   -->


  </ion-content>
</ion-view>
