<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
    <div class="item item-divider">
    		Alarms / notifications 
  	</div>
    <ion-toggle  ng-model="settings.enableAlarms">
        Enable Alarms
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableNoti">
        Enable push notifications
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableEmail">
        Enable Email notifications
    </ion-toggle>
    <label class="item item-input item-stacked-label">
    <span class="input-label"> Email</span>
    <input type="text" placeholder="SvenELiasson@gmx.de">
  	</label>

    <div class="item item-divider">
    	Button control 
  	</div>
    <ion-toggle  ng-model="settings.enableButton">
        Enable Buttons
    </ion-toggle>

    </ion-list>
  </ion-content>
</ion-view>
